<header class="header">
	<div class="menu-header">
		<div class="logo">
			<a href="{plink Homepage:default}">
				Admin
			</a>
		</div>
		<button class="menu-toggle">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
	</div>
	<div class="content">

	</div>
</header>