<aside class="sidebar">
	<h3 class="section-heading">
		Dashboard
	</h3>
	<div class="menu">
		<ul class="menu-items">
			<li class="item">
				<a href="{plink Homepage:default}">
					Dashboard
				</a>
			</li>
		</ul>
	</div>
	<h3 class="section-heading">
		Employees
	</h3>
	<div class="menu">
		<ul class="menu-items">
			<li class="item">
				<a href="{plink Employees:default}">
					All employees
				</a>
			</li>
			<li class="item">
				<a href="{plink Employees:create}">
					Create new
				</a>
			</li>
		</ul>
	</div>
</aside>