{block page_class}
	page-home
{/block}
{block content}
	{control componentDefault}
{/block}
{block page_scripts}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
	<script defer src="{$basePath}/dist/js/chart.min.js"></script>
{/block}
