<div class="content-box">
	{if $years}
		<h3 class="content-box-title">
			Employees age overview
		</h3>
		<div class="canvas-wrapper">
			<canvas id="employeesChart" width="800" height="500" data-age="{$years}"></canvas>
		</div>
	{else}
		No data to show.
	{/if}
</div>
