<div class="content-box">
	<h3 class="content-box-title">
		Employees age overview
	</h3>
	<div class="canvas-wrapper">
		<canvas id="employeesChart" width="800" height="500" data-age="{$years}"></canvas>
	</div>
</div>
