.header {
	@include size(100% 60px);
	display: grid;
	grid-template-columns: 200px auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 110;

	.menu-header {
		@include padding(_ 15px);
		@include size(100%);
		background-color: color(primary .9);
		display: grid;
		grid-template-columns: auto max-content;
		align-content: center;
		.logo {
			font-weight: bold;
			color: color(white);
			text-transform: uppercase;
		}
		.menu-toggle {
			@include size(22px 19px);
			display: block;
			padding: 0;
			.line {
				@include size(100% 3px);
				background-color: color(white);
				border-radius: 4px;
				display: block;
				&:nth-child(2) {
					@include margin(5px _);
				}
			}
		}
	}
	.content {
		@include size(100%);
		display: flex;
		align-items: center;
		background-color: color(primary);
		color: color(white);
		text-transform: uppercase;
	}
}