{if $paginator}
	<div class="pagination">
		{if !$paginator->isFirst()}
			<a n:href="changePage!, 1">&laquo;</a>
			&nbsp;|&nbsp;
			<a n:href="changePage!, $paginator->page-1">&#8249;</a>
			&nbsp;|&nbsp;
		{/if}
		Page {$paginator->page} of {$paginator->pageCount}
		{if !$paginator->isLast()}
			&nbsp;|&nbsp;
			<a n:href="changePage!, $paginator->page+1">&#8250;</a>
			&nbsp;|&nbsp;
			<a n:href="changePage!, $paginator->pageCount">&raquo;</a>
		{/if}
	</div>
{/if}